.jumbotron {
	background-color: white;
}

.expense {
	color: #F4AA6D;
}

.transfer {
	color: #B4BEC6;
}

.income {
	color: green;
}

.red {
	color: red;
}

#transaction_box {
	background-color: #F4AA6D;
}

#transaction_body {
	padding: 30px;
	border: 1px solid #ddd;
	background-color: #fff;
}

.glyphicon {
	margin-left: 15px;
	margin-right: 15px;
}

@media only screen and (min-width: 992px) {
	.jumbotron {
		background: url('../img/money_tree.jpg') center right no-repeat;
		background-size: contain;
	}
}