<form data-ng-submit="addAccount()">
    <div data-ng-show="modal" class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addAccountModalLabel">Add account</h4>
    </div>
    <div data-ng-class="{'modal-body': modal}">
        <div data-ng-show="accountFormError" class="alert alert-danger">
            <p>{{ accountFormError }}</p>
        </div>

        <div class="form-group">
            <label class="control-label" for="accountNameInput">Name</label>
            <input type="text" name="name" class="form-control" id="accountNameInput" placeholder="Name"
                   data-ng-model="accountForm.name" autofocus>
        </div>
        <div class="form-group">
            <label class="control-label" for="accountBalanceInput">Balance</label>
            <input type="number" name="balance" class="form-control" id="accountBalanceInput"
                   placeholder="Balance" data-ng-model="accountForm.balance">
        </div>
        <div class="form-group">
            <label class="control-label" for="accountCurrencyInput">Currency</label>
            <select class="form-control" id="accountCurrencyInput" data-ng-model="accountForm.currency">
                <option value="UAH">UAH</option>
            </select>
        </div>
    </div>
    <button data-ng-hide="modal" type="submit" class="btn btn-success">Save</button>
    <a data-ng-hide="modal" data-ng-click="showAccountForm = false" class="btn btn-default">Cancel</a>
    <div data-ng-show="modal" class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>