<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <title>Title</title>
</head>
<body>
<div class="jumbotron" layout:fragment="content">
    <div class="row">
        <div class="col-md-8">
            <h1>Organize your money</h1>
            <p>This project - is a tool to manage personal money.</p>
            <p>
                <a class="btn btn-lg btn-primary"
                   href="/register" role="button">Register</a> <a
                    class="btn btn-lg btn-primary" href="/login"
                    role="button">Login</a> <a class="btn btn-lg btn-primary"
                                               href="https://github.com/MaksymDolia/personal-money-manager"
                                               role="button">GitHub</a>
            </p>
        </div>
    </div>
</div>

</body>
</html>